<!DOCTYPE html>
<html>
<head>
    <title>Timestamp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h2>Unix : <%= Unix %></h2>
<h2>Natural Date : <%= Month %> <%= Day %> <%= Year %></h2>
</body>
</html>